@import './helpers/reset';
@import './helpers/variables';
@import './components/header';
@import './components/hero';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: $font__primary;
  line-height: 1.45;
  margin: 0 auto;
  max-width: 1000px;

  section {
    min-height: 100vh;
  }
  
  p {
    
  }

  a {
    color: $color__primary;
    text-decoration: none;

    &:visited {
      color: $color__primary;
    }
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1.2;
  }

  h1 {
    font-size: 2.441em;
  }

  h2 {
    font-size: 1.953em;
  }

  h3 {
    font-size: 1.563em;
  }

  h4 {
    font-size: 1.25em;
  }

  small {
    font-size: .8em;
  }
}
