@import './helpers/reset';
@import './helpers/mixins';
@import './helpers/variables';

* {
  box-sizing: border-box;
  transition: 285ms all;
}

html,
body {
  background-color: $white;
  height: 100%;
  width: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  color: $black;
  display: flex;
  flex-direction: column;
  font-family: $font__primary;
  height: auto;
  margin: 0 auto;
  max-width: 1000px;

  img {
    height: 100%;
    width: 100%;
  }

  section {
    padding: $spacing-lg $spacing;
  }

  a {
    color: $color__primary;
    text-decoration: none;

    &:visited {
      color: $color__primary;
    }
    
    &:hover {
      color: lighten($color__primary, 20%);
    }
  }

  small {
    @include type-setting(-1);
  }

  p {
    @include type-setting(0);
    letter-spacing: .25px;
  }

  h1 {
    @include type-setting(4);
  }

  h2 {
    @include type-setting(4);
  }

  h3 {
    @include type-setting(3);
  }

  h4 {
    @include type-setting(2);
    display: inline-block;
    font-weight: 700;
    margin-bottom: $spacing;
  }

  h5 {
    @include type-setting(1);
  }

  #about,
  #pricing,
  #contact {
    padding-top: 70px;
  }
}

@import './components/about';
@import './components/header';
@import './components/hero';
@import './components/product';
@import './components/pricing';
@import './components/contact';
@import './components/footer';
