$black: rgba(47, 49, 56, 1);
// $white: rgba(245, 247, 250, 1);
$white: #fdfdfd;




$color__primary: #A71930;

$font__primary: 'Open Sans', sans-serif;
$base-font-size: 1.125rem;
$base-line-height: $base-font-size * 1.45;

$spacing-xs: $base-line-height * .25;
$spacing-sm: $base-line-height * .75;
$spacing: $base-line-height;
$spacing-lg: $base-line-height * 2;

$type-scale: (
  - 1: .707rem,
  0: 1.125rem,
  1: 1.414rem,
  2: 1.999rem,
  3: 2.827rem,
  4: 3.998rem
);

$line-height: (
  - 1: $base-line-height,
  0: $base-line-height,
  1: $base-line-height * 2,
  2: $base-line-height * 2,
  3: $base-line-height * 2,
  4: $base-line-height * 2
)
