.about {
  display: flex;
  flex-direction: column;
  padding: $spacing $spacing $spacing-xs;
  margin-top: $spacing;

  &__photo {
    border-radius: 50%;
  }

  &__title {
    border-top: 1px solid #ddd;
    padding-top: $spacing;
    font-weight: 700;
    font-size: 1.75rem;
    margin-bottom: $spacing-sm;

    @media all and (min-width: 650px) {
      margin-bottom: 0;
    }
  }
}

.desc {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 300px;
  padding: $spacing-sm 0 $spacing-lg;

  @media all and (min-width: 650px) {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: $spacing;
    min-height: 100px;
  }

  &:first-child {

    @media all and (min-width: 650px) {
      padding-bottom: 0;
    }
  }

  // &:nth-child(odd) {
  //   flex-direction: row-reverse;
  //   text-align: right;
  //
  //   img {
  //     margin: 0 0 0 $spacing*2;
  //   }
  // }

  &:last-child {
    border-bottom: 1px solid #ddd;

    @media all and (min-width: 650px) {
      padding-bottom: $spacing-lg;
    }
  }

  &__image {
    fill: $black;
    height: 8rem;
    margin-bottom: $spacing;
    width: 8rem;

    @media all and (min-width: 650px) {
      width: 22rem;
      padding: $spacing-sm;
      margin-bottom: 0;
      margin-right: $spacing-sm;
    }

    &--headshot {
      width: 11rem;
      height: 11rem;
      border-radius: 50%;
      background-color: transparent;
      filter: saturate(75%);
      padding: 0;

      @media all and (min-width: 650px) {
        width: 9rem;
        padding: $spacing-sm;
        height: 9rem;
      }
    }
  }
}
