.about {
  display: flex;
  flex-direction: column;
  margin-top: $spacing * 4;
  padding: 0;

  &__title {
    border-bottom: 2px solid $black;
    border-top: 2px solid $black;
    padding: 1rem;
  }

  &__photo {
    border-radius: 50%;
    height: 10rem;
    margin: $spacing*2 auto $spacing;
    width: 10rem;
  }
}

.desc {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: $spacing*4 $spacing*2;
  
  height: 100%;
  min-height: 50vh;
  // &:nth-child(odd) {
  //   flex-direction: row-reverse;
  //   text-align: right;
  //   
  //   img {
  //     margin: 0 0 0 $spacing*2;
  //   }
  // }

  &__image {
    height: 100px;
    margin-bottom: $spacing*2;
    width: 100px;

    &--headshot {
      border-radius: 50%;
      height: 10rem;
      width: 10rem;
    }
  }

  p {
    font-size: 18px;
  }
}
