.contact {

  &__title {
    display: block;
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 0;
    padding-bottom: $spacing-sm;
  }
}

form {
  display: flex;
  flex-direction: column;

  fieldset {
    display: flex;
    justify-content: flex-start;
    margin-bottom: $spacing;

    label {
      @include type-setting(0);
      font-weight: 900;
    }

    input,
    textarea {
      @include type-setting(0);
      background-color: $gray;
      border: 1px solid transparent;
      border-bottom: 1px solid $black;
      margin-top: $spacing-xs;
      padding: $spacing-xs 0 $spacing-xs $spacing-sm;
      width: 100%;

      &:active,
      &:focus {
        background-color: $white;
        border: 1px solid $black;
        outline: 0;
      }
    }

    button {
      align-items: center;
      background-color: $color__primary;
      border: 0;
      color: $white;
      cursor: pointer;
      display: flex;
      font-size: 1rem;
      justify-content: center;
      padding: $spacing;
      width: 100%;

      svg {
        fill: $white;
        height: 2rem;
        margin-right: $spacing;
        width: 2rem;
      }

      &:hover {
        background-color: lighten($color__primary, 10%);
      }
    }

    textarea {
      min-height: 100px;
    }
  }
}
