.header {
  align-items: center;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1000px;
  min-height: 60px;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  &__title {
    font-weight: 300;
  }

  &__nav {
    display: flex;

    li {
      margin: 0 .5rem;

      &:last-child {
        margin-right: 0;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
