.hero {
  align-items: flex-end;
  display: flex;
  height: auto;
  margin-top: 71px;
  padding: 0;
  width: 100%;

  @include bp('650px') {
    padding: 1rem;
  }

  video {
    height: auto;
    width: 100%;
    border-bottom: 1px solid #ddd;
  }
}
