.hero {
  align-items: flex-end;
  display: flex;
  height: auto;
  margin-bottom: $spacing*3;
  margin-top: 69px;
  padding: 0;
  width: 100%;

  @include bp('650px') {
    padding: 1rem;
  }

  video {
    height: auto;
    width: 100%;
  }
}
