.pricing {
  background-color: $black;
  color: $white;
  // padding: $spacing;

  &:hover {
    background-color: lighten($black, 5%);
  }

  a {
    align-items: center;
    color: $white;
    display: flex;
    font-weight: 700;
  }

  &__link {
    font-size: type-scale(1);
    margin-left: $spacing;

    @include bp('650px') {
      font-size: type-scale(1);
    }
  }

  svg {
    fill: $white;
    max-height: 2.45rem;
    max-width: 2.45rem;
    margin-left: .5rem;
  }
}
