.pricing {
  background-color: $black;
  color: $white;
  margin-top: $spacing-lg;
  padding: $spacing;

  a {
    align-items: center;
    color: $white;
    display: flex;
  }

  &__link {
    font-size: type-scale(1);

    @include bp('650px') {
      font-size: type-scale(1);
    }
  }

  svg {
    fill: $white;
    margin-right: $spacing;
    max-height: type-scale(3);
    max-width: type-scale(3);
  }
}
