.pricing {
  border-top: 1px solid $color__primary;
  display: flex;
  flex-direction: column;

  a {
    border-bottom: 1px solid $color__primary;
    font-weight: 700;
  }

  &__link {
    font-size: type-scale(1);
  }

  svg {
    fill: $white;
    margin-left: .5rem;
    max-height: 2.45rem;
    max-width: 2.45rem;
  }
}
